* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}

.header {
  padding: 40px;
  background-color: coral;
}

.main-menu {
  padding: 20px;
  background-color: #f4f4f4;
}

.main-menu li {
  display: inline-block;
  font-size: 20px;
}

.main-menu li:not(:last-child) {
  margin-right: 1em;
}

.main {
  display: flex;
  gap: 70px;
  padding: 40px;
}

.main section {
  flex-grow: 1;
  flex-basis: 0%;
}

.main aside {
  width: 300px;
}

aside h3,
aside li {
  padding: 10px;
}

aside h3 {
  color: white;
  background-color: coral;
}

aside li {
  border-bottom: 2px solid rgb(209, 209, 209);
  background-color: rgb(235, 233, 233);
}
