* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

:root {
  --container-width: 1000px;
}

.container {
  display: flex;
  height: 200px;
  width: var(--container-width);
  background-color: black;
}

.item {
  margin: 10px;
  height: calc(100% - 20px);
  background-color: coral;
  min-width: calc(calc(100% / 5) - 20px);
}
