.gallery-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .gallery-item {
    width: calc(33.33% - 20px);
    border-radius: 10px;

    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
}

.hero-2 {
  color: #fff;
  background-color: #333;

  .highlight-text {
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.contact-us {
  padding: 3rem 0 4rem;

  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 2rem;
  }

  .form-group {
    margin: 2rem 0;
  }

  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333;
  }

  textarea {
    height: 200px;
  }

  button {
    width: 100%;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    border: 1px solid #333;
    background-color: #fff;
  }

  button:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #333;
  }
}

.services {
  color: #fff;
  padding: 3rem 0 4rem;
  background-color: #333;
}

.services-flex {
  h2 {
    font-size: 1.6rem;
    margin-bottom: 40px;
    text-align: center;
  }

  .service-container {
    display: flex;
    gap: 2rem;


    h3 {
      font-size: 1.1rem;
      margin-bottom: 0.7rem;
    }
  }
}

.team {
  padding: 3rem 0 4rem;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 40px;
    text-align: center;
  }
}

.team-flex {
  display: flex;
  gap: 1.4rem;

  img {
    max-width: 100%;
    border-radius: 10px;
  }
}